{% extends 'base.html' %}

{% block content %}

<div class="container">

    <h2 class="mb-4">
        👤 Patient Dashboard
    </h2>

    <div class="row">

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h5>
                        My Appointments
                    </h5>

                    <h2>
                        {{ appointment_count }}
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h5>
                        My Prescriptions
                    </h5>

                    <h2>
                        {{ prescription_count }}
                    </h2>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card shadow">

                <div class="card-body text-center">

                    <h5>
                        My Bills
                    </h5>

                    <h2>
                        {{ bill_count }}
                    </h2>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}