{% extends 'base.html' %}

{% block content %}

<h2 class="mt-3">Dashboard</h2>

<div class="row mt-4">

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Total Patients</h5>
                <h2>{{ total_patients }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Total Doctors</h5>
                <h2>{{ total_doctors }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Appointments</h5>
                <h2>{{ total_appointments }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow">
            <div class="card-body">
                <h5>Total Bills</h5>
                <h2>{{ total_bills }}</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}